::-webkit-scrollbar {
	display: none;
}

#container {
	transition: width 1s, heigth 1s;
}

#container {
	width: 100% !important;
}

.barContent, .bigBarContainer {
	padding: 0 !important;
}

#centerDivVideo {
	width: 100% !important;
	height: 100% !important;
}

#divContentVideo {
	width: 100% !important;
  height: 100% !important;
}

#my_video_1,
#embedVideo,
#divContentVideo_wrapper,
#divContentVideo iframe {
	margin: auto !important;
	width: calc(100% + 2px) !important;
	height: 100vh !important;
	left: -1px !important;
}
