#divFloatLeft, #divFloatRight, #adsIfrme1, #adsIfrme2, #adsIfrme3, #adsIfrme6, #adsIfrme7, #adsIfrme8, #divAds, #divAds2, .divCloseBut, .divCloseBut2, #videoAd, #videoAdClose {
	display: none !important;
}
#adsIfrme10 {
	height: 0px !important;
	width: 0px !important;
	visibility: hidden !important;
	display: none !important;
}
#adCheck1, #adCheck2, #adCheck3 {
	height: 0px !important;
}
a[href*="bebi.com"] {
	display: none !important;
}