#centerDivVideo {
	transition: width 1s, heigth 1s;
	z-index: 10;
}

#container {
	width: 100% !important;
}

.barContent {
	padding: 0;
}

#centerDivVideo {
	height: 100% !important;
}

#divContentVideo {
	width: 100% !important;
  height: 100% !important;
}

@media screen and (max-width: 2560px) {
	#centerDivVideo { width: 59% !important; }
	#divContentVideo.jwplayer { height: calc( 59vw / 1.792 ) !important; }
	#my_video_1,
	#embedVideo,
	#divContentVideo_wrapper,
	#divContentVideo iframe {
		margin: auto;
		width: 100% !important;
		height: calc( 59vw / 1.78 ) !important;
	}
}

@media screen and (max-width: 2000px) {
	#centerDivVideo { width: 75% !important; }
	#divContentVideo.jwplayer { height: calc( 75vw / 1.792 ) !important; }
	#my_video_1,
	#embedVideo,
	#divContentVideo_wrapper,
	#divContentVideo iframe {
		margin: auto;
		width: 100% !important;
		height: calc( 75vw / 1.78 ) !important;
	}
}

@media screen and (max-width: 1280px) {
	#centerDivVideo { width: 90% !important; }
	#divContentVideo.jwplayer { height: calc( 90vw / 1.792 ) !important; }
	#my_video_1,
	#embedVideo,
	#divContentVideo_wrapper,
	#divContentVideo iframe {
		margin: auto;
		width: 100% !important;
		height: calc( 90vw / 1.78 ) !important;
	}
}

/* Fullscreen Fix */
#my_video_1:-webkit-full-screen {
	height: 100% !important;
	width: 100% !important;
}

.bigBarContainer, .barContent {
	background: transparent !important;
	border: none;
}

.bigBarContainer {
	position: relative;
	overflow: hidden;
}

.barContent > div > * {
	position: relative;
}

#backgroud-canvas {
	display: none;
	position: fixed;
	width: 104%;
	height: 110%;
	top: -5%;
	left: -2%;
	filter: blur(20px);
	transform: translate3d(0, 0, 0);
	z-index: 2;
}

#background-dim {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.95);
}

#my_video_1_html5_api {
	/* box-shadow: 0px 0px 30px 5px #272727; */
	box-shadow: 0px 0px 20px 0px black;
}

.hideCursor {
	cursor: none;
}

/* ::-webkit-scrollbar {
	display: none;
} */

#selectEpisodeContainer, #playerSwitchLightsOffContainer, #divDownload, #divFileName, #redditThreadContainer {
	/*visibility: hidden;*/
}

#adsIfrme7 {
	margin: auto;
}