.badge {
	padding: 2px 4px !important;
}

.author a:after,
.author a:before {
	color: white;
	pointer-events: none;
	background: #646464;
	padding: 2px 4px;
	font-size: 10px;
	line-height: 1.1;
	font-weight: 700;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	top: -1px;
}

.author a:after {
	margin-left: 5px;
}

/* pilar6195 */
.author a[data-username="pilar6195"]:after {
	content: 'Senpai';
}

/* Neet */
.author a[data-username="BakaNEET"]:after {
	content: 'Lewd';
}

/* Aika */
.author a[data-username="Aikatsuyuri"]:after {
	content: 'Trap';
}