/* == Font Stuff == */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(chrome-extension://__MSG_@@extension_id__/fonts/roboto.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body,				/* Everything else not covered below */
input, button, select,	/* All input types */
#topHolderBox, 			/* Username box */
#topHolderBox a,		/* Username box (for links) */
#formSearch,			/* Search Container */
#result_box,			/* Results box for search */
#navcontainer a,		/* Navbar */
#tabmenucontainer a,	/* Subcontent */
#PinnedBoxTitle,		/* PinnedBox Titlebar */
.welcome-box-title,		/* Welcome Box Titlebar */
.title,					/* Anime Titles */
.barTitle,				/* ContentBox Titlebar */
.scrollable_title,		/* LatestUpdate Titlebar */
.bigChar,				/* Anime titles for the most part */
.details,				/* Random Anime Banner*/
.specialButton			/* Comment Box Button */
{
	font-family: 'Roboto', Helvetica, sans-serif !important;
}

/* == Animations == */
/* https://codepen.io/alanshortis/pen/eJLVXr */
@keyframes pulse {
	50% {
		background: white;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* == Loading Pulse == */
.loading-pulse {
	position: relative;
	width: 6px;
	height: 24px;
	background: rgba(255, 255, 255, 0.2);
	animation: pulse 750ms infinite;
	animation-delay: 250ms;
}

.loading-pulse:before,
.loading-pulse:after {
	content: '';
	position: absolute;
	display: block;
	height: 16px;
	width: 6px;
	background: rgba(255, 255, 255, 0.2);
	top: 50%;
	transform: translateY(-50%);
	animation: pulse 750ms infinite;
}

.loading-pulse:before {
	left: -12px;
}

.loading-pulse:after {
	left: 12px;
	animation-delay: 500ms;
	animation-delay: 500ms;
}

.loading-pulse-absolute {
	position: absolute !important;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* == == */
.loader {
	color: #ffffff;
	font-size: 45px;
	text-indent: -9999em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	margin: 72px auto;
	position: relative;
	transform: translateZ(0);
	animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes load6 {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}

@keyframes round {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* == Spin == */

.spin {
	animation: spin 0.6s infinite linear;
}

/* == Scrollbars == */

*::-webkit-scrollbar {
	width: 8px !important;
	height: 8px !important;
}

*::-webkit-scrollbar-track {
	background: #272727 !important;
}

*::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important;
	background: rgb(19, 19, 19) !important;
	border: 1px solid rgba(128, 128, 128, 0.50) !important;
}

/* == Tooltips == */

.tooltip {
	display:none;
	background: rgba(22, 22, 22, 0.9) !important;
	padding: 10px !important;
	height: auto !important;
	width:450px;
	font-size:11px;
	color:#dadada;
	border: 1px solid grey;
	border-radius: 5px;
	box-shadow: 0 0 20px 5px black;
}

/* == Version == */

#version {
	transition: opacity 0.5s;
	font-weight: bold;
	color: #d5f406;
	position: absolute;
	top: 5px;
	left: 8px;
	opacity: 0.3;
}

#version:hover {
	opacity: 1;
}

/* == Navbar == */

#navbar {
	background: #282728 !important;
}

#navcontainer ul {
	width: fit-content;
	margin: auto !important;
}

#navbar #currentTab {
	background: #548602 !important;
}

#navbar a {
	margin-left: 1px;
	border-radius: 4px 4px 0px 0px;
	background: #a5a5a5 !important;
}

#navbar a:hover {
	background: #dedede !important;
}

#navsubbar {
	background: #548602 !important;
}

#navsubbar p {
	width: fit-content !important;
	text-align: center !important;
}

#liChatRoom {
	display: none !important;
}

/* == Content Boxes == */

.barTitle, #PinnedBoxTitle, .welcome-box-title {
	 background: #548602  !important;
}

.arrow-general {
	background: none !important;
	display: block !important;
	width: 0 !important;
	height: 0 !important;
	border-bottom: 12px solid #548602  !important;
	border-left: 12px solid transparent !important;
	top: -19px !important;
	left: 0px !important;
	position: relative !important;
	transform: rotate(45deg) !important;
}

.welcome-box-content, #PinnedBoxContent, #recent-updates, .barContent {
	background: #111 !important;
}

.welcome-box, #PinnedBox, .rightBox, .bigBarContainer, #subcontent {
	background: #111111 !important;
	border-color: #111 !important; /* Not removing the border to prevent possibility breaking the layout */
}

/* == Replaces the arrows in the Latest Update Box with nicer looking ones == */

.prev, .prev:hover, .next, .next:hover {
	background: none !important;
	color: #484848;
}

.prev, .next, .icon-remove {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	color: white;
}

.prev:before {
	content: "\e079";
}

.next:before {
	content: "\e080";
}

.icon-remove:before {
	content: "\e014";
}

/* == Subcontent Tabs == */

#tabmenucontainer {
	width: 390px !important;
}

#tabmenucontainer .tabactive {
	background: #548602 !important;
}

#tabmenucontainer a {
	margin-left: 2px;
	padding: 1px;
	border-radius: 4px 4px 0px 0px;
	background: #a3a3a3 !important;
}

#tabmenucontainer a:hover {
	background: #888888 !important;
}

/* == Footer == */

#footer {
	background: #100f10 !important;
}

/* == Comment Box Button == */

.specialButton {
	border-radius: 2px !important;
}

/* == Misc == */

select {
	height: 22px !important;
}

input.text {
	background: #393939 !important;
}

.toast-bottom-center {
	bottom: 10px !important;
}

.efka-p {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

/* == Fixes == */

#formAdvanceSearch {
  display: inline-block;
}

.clear, .clear2 {
	pointer-events: none !important;
}

/* == Here we're gonna fix the Ad Positions since KissAnime fucked this up too... == */

#adsIfrme1 + .divCloseBut,
#adsIfrme3 + .divCloseBut,
#adsIfrme6 + .divCloseBut,
#adsIfrme7 + .divCloseBut,
#adsIfrme8 + .divCloseBut,
#adsIfrme10 + .divCloseBut {
	position: relative !important;
	display: inline-block;
	top: 15px !important;
	background: none !important;
}

#adsIfrme1 + .divCloseBut,
#adsIfrme6 + .divCloseBut,
#adsIfrme8 + .divCloseBut {
	left: -170px !important;
}

#subcontent #adsIfrme1 + .divCloseBut {
	left: -10px !important;
}

#adsIfrme3 + .divCloseBut {
	left: -95px !important;
	margin-bottom: 15px;
}

#adsIfrme7 + .divCloseBut {
	left: -425px !important;
}

#adsIfrme10 + .divCloseBut {
	left: -380px !important;
}

#adsIfrme11 + .divCloseBut {
	left: 60px !important;
}
