/* == Hides the player until its ready to prevent any ugliness while the extension replaces it == */
#my_video_1 { display: none; }

/* ==  == */
.video-js:-webkit-full-screen { left: 0px !important; }

/* == == */
.vjs-control-bar .selectQuality {
	float: right;
	position: relative;
	background: none;
	border: none;
	top: 3px;
}

.vjs-control-bar option {
	background: #161616;
}

/* ==  == */
div[style*="border-color: #4e4e4e !important; position: relative; margin: 0 0 20px 0"], .clsTempMSg {
	display: none !important;
}

#toast-container {
	padding-top: 5px;
	font-size: 12px;
	width: 310px;
	left: 0;
	right: 0;
	margin: auto;
	/* Styling fix since toast container is being affected by .video-js styling */
	line-height: 23px;
}

.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px  !important;
  line-height: 20px !important;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5 !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc !important;
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	/* Styling fix since toast container is being affected by .video-js styling */
	border: 1px solid;
}

#findinMALContainer a {
	color: #d5f406 !important;
}

#findinMALContainer a:hover {
	color: skyblue !important;
}

.KETextInput {
	background: none;
	border: none;
	width: 25px;
	color: white;
	text-align: center;
}

.KEDropdown {
	background: none;
	height: 18px;
	border-color: white;
	font-size: 12px;
	vertical-align: baseline;
	color: white;
	height: 18px !important;
}
.KEDropdown option {
	background: #111111;
}

#episodesUserCurrentText::-webkit-inner-spin-button, #episodesUserCurrentText::-webkit-outer-spin-button {
	display: none;
}

#episodesUserCurrentText:focus::-webkit-inner-spin-button, #episodesUserCurrentText:focus::-webkit-outer-spin-button {
	display: initial;
}

/* == Loading Pulse Text == */
.loading-pulse-text {
	position: absolute;
	margin: auto;
	height: 23px;
	width: 86px;
	top: 55px;
	bottom: 0;
	left: 0;
	right: 0;
}

/* == Stying Fixes since KissAnime did a horrible job == */
.bigBarContainer {
	width: auto !important;
}

.barContent > div {
	width: auto !important;
}

#centerDivVideo, #selectEpisodeContainer {
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

#videoMessage {
	position: absolute;
	font-size: 20px;
	display: none;
	top: 0;
	right: 0;
	bottom: 110px;
	left: 0;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

/* Style for when the custom player is disabled */

body.playerDisabled #my_video_1 {
	display: block;
}

body.playerDisabled #divContentVideo {
	margin-top: 25px;
}